<h1 class="page-header text-center">
  <%= @client.name %>: <%= @client.status %>
</h1>
<% unless @client.stylist_id == nil %>
  <h5>Currently assigned to <%= Stylist.find(@client.stylist_id).name %></h5>
<% end %>
<hr>
<div class="col-md 6">
  <div class="row">
    <form action="/clients/<%= @client.id %>" method="post">
      <input name="_method" type="hidden" value="delete">
      <button type="submit" id="delete">Remove client</button>
    </form>
  </div>
  <div class="row">
    <form action="/clients/<%= @client.id %>" method="post">
      <input name="_method" type="hidden" value="patch">
      <input type="text" id="client_name" name="client_name">
      <button type="submit" id="patch">Change client's name</button>
    </form>
  </div>

  <div class="row">
    <h5>Stylists taking clients:</h5>
    <form action="/clients/<%= @client.id %>" method="post">
      <select id="stylists" class="form-control" name="stylists">
        <% Stylist.taking_clients.each do |stylist| %>
          <option value="<%= stylist.id %>"> <%= stylist.name %></option>
        <% end %>
      </select>
      <% if @client.stylist_id == nil %>
        <button type="submit" id="add_to_stylist">Assign to stylist</button>
      <% else %>
        <button type="submit" id="change_stylist">Reassign to stylist</button>
      <% end %>
    </form>
  </div>


</div>
