<h1 class="page-header text-center">Hair Salon</h1>
<h5>Click on a stylist or client to view/edit their details</h5>
<hr>
<div class="col-md-6">
  <table class="table table-bordered table-hover">
    <tr><th>Stylists</th><th>Status</th></tr>
    <% @stylists.each do |stylist| %>
      <tr>
        <td><a href="/stylists/<%= stylist.id %>"><%= stylist.name %> </a></td>
        <td> <%= stylist.status %> </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="col-md-6">
  <table class="table table-bordered table-hover">
    <tr><th>Clients</th><th>Status</th></tr>
    <% @clients.each do |client| %>
      <tr>
        <td><a href="/clients/<%= client.id %>"><%= client.name %> </a></td>
        <td> <%= client.status %> </td>
      </tr>
    <% end %>
  </table>
</div>
