<h1 class="page-header text-center">
  <%= @stylist.name %>: <%= @stylist.status %>
</h1>

  <div class="col-md-6">
    <table class="table table-bordered table-hover">
      <tr><th>Clients</th><th>Remove client</th></tr>
      <% @stylist.clients.each do |client| %>
        <tr>
          <td><a href="/clients/<%= client.id %>"> <%= client.name %> </a></td>
          <td><form action="/remove/<%= @stylist.id %>/<%= client.id %>" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit" id="<%= client.id %>">remove</button>
              </form>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <div class="row">
      <form action="/stylists/<%= @stylist.id %>" method="post">
        <input name="_method" type="hidden" value="delete">
        <button type="submit" id="delete">Remove stylist</button>
      </form>
    </div>
    <div class="row">
      <h5>Update stylist info:</h5>
      <form action="/stylists/<%= @stylist.id %>" method="post">
        <input name="_method" type="hidden" value="patch">
        <input type="text" id="stylist_name" name="stylist_name">
        <button type="submit" id="patch">Change stylist's name</button>
      </form>
    </div>

    <% if @stylist.client_count < 5 %>
      <div class="row">
        <h5>Unassigned clients:</h5>
        <form action="/stylists/<%= @stylist.id %>" method="post">
          <select id="clients" class="form-control" name="clients">
            <% Client.unassigned.each do |client| %>
              <option value="<%= client.id %>"> <%= client.name %></option>
            <% end %>
          </select>
          <button type="submit" id="add_client">Add client</button>
        </form>
      </div>
    <% end %>
  </div>
