<h1 class="page-header text-center">
  <%= @stylist.name %>: <%= @stylist.status %>
</h1>

  <div class="col-md-6">
    <table class="table table-bordered table-hover">
      <tr><th>Clients</th></tr>
      <% @stylist.clients.each do |client| %>
        <tr>
          <td><a href="/stylists/<%= stylist.id %>"><%= client %> </a></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <div class="row">
      <form action="/stylists/<%= @stylist.id %>" method="post">
        <input name="_method" type="hidden" value="delete">
        <button type="submit" id="delete">Remove stylist</button>
      </form>
    </div>
    <div class="row">
      <h5>Update stylist info:</h5>
      <form action="/stylists/<%= @stylist.id %>" method="post">
        <input name="_method" type="hidden" value="patch">
        <input type="text" id="stylist_name" name="stylist_name">
        <button type="submit" id="patch">Change stylist's name</button>
      </form>
    </div>
    <div class="row">
      <h5>Unassigned clients:</h5>
      <form action="/stylists/<%= @stylist.id %>" method="post">
        <select class="form-control" name="clients">
          <% Client.unassigned.each do |client| %>
            <option value="<%= client.id %>"> <%= client.name %></option>
          <% end %>
        <button type="submit" id="post">Add client</button>
      </form>
    </div>
  </div>
